/* ===== Page setup ===== */

* { 
    background-color:black;
    color:deepskyblue;
}
a {
    color:white;
}
.k {
    color:cornflowerblue
}
.us {
    color:red;
}
.s  {
    color:#f383d7;
}
.r  {
    color:#4dcc8e;
}
.im {
    color:yellow;
}
.unim {
    color:black;
}