/* ===== Page setup ===== */

* { 
    background-color:black;
    color:deepskyblue;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
a {
    color:white;
}
.k {
    color:cornflowerblue;
}
.us {
    color:red;
}
.s  {
    color:#f383d7;
}
.r  {
    color:#4dcc8e;
}
.im {
    color:yellow;
}
.unim {
    color:black;
}
.respVid {
  display: block; /* Removes inline spacing */
  width: 100%;    /* Forces video to match page width */
  height: auto;   /* Maintains original aspect ratio without distortion */
  margin: 0 auto; /* Centers the video if you add a max-width container later */
}
#logo {
    background-color:deepskyblue;
    background: linear-gradient(to top, black, black, deepskyblue, black, black);
    display: block;
    max-width: 100%; /*Changed from 50%*/ 
    height: auto;
    margin: 0 auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
nav a {
    display: inline-block;
    padding: 0.5rem;
    margin-right: 0.5rem;
    background-color: black;
    color: deepskyblue;
    text-decoration: none;
    border-radius: 12px;
    border: 5px solid deepskyblue;
}
nav a:hover {
    --placeholder:1;
    background-color: black;
    color: yellow;
}