/* ===== Page setup ===== */

* { 
    background-color:black;
    color:deepskyblue;
}
a {
    color:white;
}
.k {
    color:cornflowerblue
}
.us {
    color:red;
}
.s  {
    color:#f383d7;
}
.r  {
    color:#4dcc8e;
}
.im {
    color:yellow;
}
.unim {
    color:black;
}
.respVid {
  display: block; /* Removes inline spacing */
  width: 100%;    /* Forces video to match page width */
  height: auto;   /* Maintains original aspect ratio without distortion */
  margin: 0 auto; /* Centers the video if you add a max-width container later */
}
#logo {
    background-color:deepskyblue;
    max-width: 50%; 
    height: auto;
}